.loader {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.teacherList {
  margin-bottom: 64px;
}

.card {
  background-color: var(--white);
  color: var(--main);
  font-weight: 500;
  font-size: 16px;
  border-radius: 24px;
  padding: 24px;
  margin-bottom: 32px;
  width: 1184px;
  display: grid;
  grid-template-columns: 120px 1fr;
  column-gap: 48px;
  grid-template-areas:
    "i h"
    "i inf"
    ". inf"
    ". l";
}

.card:nth-last-child {
  margin-bottom: 0;
}

.cardHeader {
  grid-area: h;
  display: flex;
  justify-content: space-between;
}

.cardHeader p {
  color: var(--dark-gray);
}

.headerInfo {
  display: flex;
  align-items: center;
  gap: 32px;
}
.price {
  color: #38cd3e;
}
.avatar {
  grid-area: i;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  padding: 9px;
  border: 3px solid var(--yellowPale);
  transition: transform 0.2s ease-in-out;
}

.avatar:hover {
  transform: scale(1.2);
}

.teacherInfo {
  grid-area: inf;
}

.teacherInfo h3 {
  font-weight: 500;
  margin-bottom: 32px;
}

.teacherInfo ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.grayText {
  color: var(--dark-gray);
}

.readMoreBtn {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  margin-bottom: 32px;
}

.lvls {
  display: flex;
  gap: 8px;
  grid-area: l;
}

.lvl {
  border: 1px solid rgba(18, 20, 23, 0.2);
  border-radius: 35px;
  padding: 8px 12px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.lvl.active {
  background-color: var(--yellow);
  border: 1px solid var(--yellow);
}

.btn {
  border-radius: 12px;
  max-width: fit-content;
  padding: 16px 88px;
  height: 60px;
  background-color: var(--yellow);
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
}

.btn:hover {
  background-color: var(--yellowPale);
}
