:root {
  --font-family: "Roboto", sans-serif;

  /*colors*/

  --main: #121417;
  --white: #fff;
  --gray: #f8f8f8;
  --dark-gray: #8a8a89;
  --yellow: #f4c550;
  --yellowHover: #ffdc86;
  --yellowPale: #fbe9ba;
}
