.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 128px;
  width: 100vw;
}

.header a {
  color: var(--main);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  max-height: 28px;
}

.logoText {
  font-weight: 500;
  font-size: 20px;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 28px;
}

.buttons {
  display: flex;
  gap: 16px;
}

.login {
  display: flex;
  align-items: center;
  gap: 8px;
}

.login button {
  font-weight: 700;
  font-size: 16px;
}

.blackBtn {
  padding: 14px 40px;
  border-radius: 12px;
  background-color: var(--main);
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
}
